{% extends 'AppCoder/base.html' %}

{% load static %}

{% block title %} Login {% endblock title %}

{% block main %}
    
    <h1>Cambiar Passwd</h1>

    <form action="" method="POST">
        {% csrf_token %}

        <table>
            {{ mi_form.as_table }}
        </table>
        <input type="submit" value="Actualizar">

    </form>

    <div class="container mt-5">
        
        <a href="{% url 'CambiarPass'%} " class="btn btn-primary">Cambiar Password</a>
    </div>

{% endblock main %}